<!DOCTYPE html>
<html>
<head>
  <title>SuperfeedrEngine</title>
  <%= stylesheet_link_tag    "superfeedr_engine/application", media: "all" %>
  <%= javascript_include_tag "superfeedr_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
